<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synapse.reading.mapper.AudioMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.synapse.reading.model.Audio">
        <id column="rec_id" property="recId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="intro" property="intro" />
        <result column="qr_code" property="qrCode" />
        <result column="cover" property="cover" />
        <result column="pc_cover" property="pcCover" />
        <result column="belong_to" property="belongTo" />
        <result column="belong_to_id" property="belongToId" />
        <result column="play_num" property="playNum" />
        <result column="finish_num" property="finishNum" />
        <result column="order_num" property="orderNum" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `rec_id`,`name`,`url`,`intro`,`qr_code`,`cover`,`pc_cover`,`belong_to`,`belong_to_id`,`play_num`,`finish_num`,`order_num`,`create_id`,`create_time`,`update_id`,`update_time`
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from `audio`
        where
                `rec_id` = #{recId}
    </select>

    <insert id="insert"  parameterType="com.synapse.reading.model.Audio">
        insert into `audio`
        (<include refid="Base_Column_List" />)
        values (#{recId},#{name},#{url},#{intro},#{qrCode},#{cover},#{pcCover},#{belongTo},#{belongToId},#{playNum},#{finishNum},#{orderNum},#{createId},#{createTime},#{updateId},#{updateTime})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from `audio`
        where
			    `rec_id` = #{recId}
    </delete>

    <insert id="insertSelective"  parameterType="com.synapse.reading.model.Audio" >
        insert into `audio`
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
                    `rec_id`,
                </if>
                <if test="name != null" >
                    `name`,
                </if>
                <if test="url != null" >
                    `url`,
                </if>
                <if test="intro != null" >
                    `intro`,
                </if>
                <if test="qrCode != null" >
                    `qr_code`,
                </if>
                <if test="cover != null" >
                    `cover`,
                </if>
                <if test="pcCover != null" >
                    `pc_cover`,
                </if>
                <if test="belongTo != null" >
                    `belong_to`,
                </if>
                <if test="belongToId != null" >
                    `belong_to_id`,
                </if>
                <if test="playNum != null" >
                    `play_num`,
                </if>
                <if test="finishNum != null" >
                    `finish_num`,
                </if>
                <if test="orderNum != null" >
                    `order_num`,
                </if>
                <if test="createId != null" >
                    `create_id`,
                </if>
                <if test="createTime != null" >
                    `create_time`,
                </if>
                <if test="updateId != null" >
                    `update_id`,
                </if>
                <if test="updateTime != null" >
                    `update_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
			        #{recId},
                </if>
                <if test="name != null" >
			        #{name},
                </if>
                <if test="url != null" >
			        #{url},
                </if>
                <if test="intro != null" >
			        #{intro},
                </if>
                <if test="qrCode != null" >
			        #{qrCode},
                </if>
                <if test="cover != null" >
			        #{cover},
                </if>
                <if test="pcCover != null" >
			        #{pcCover},
                </if>
                <if test="belongTo != null" >
			        #{belongTo},
                </if>
                <if test="belongToId != null" >
			        #{belongToId},
                </if>
                <if test="playNum != null" >
			        #{playNum},
                </if>
                <if test="finishNum != null" >
			        #{finishNum},
                </if>
                <if test="orderNum != null" >
			        #{orderNum},
                </if>
                <if test="createId != null" >
			        #{createId},
                </if>
                <if test="createTime != null" >
			        #{createTime},
                </if>
                <if test="updateId != null" >
			        #{updateId},
                </if>
                <if test="updateTime != null" >
			        #{updateTime},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.synapse.reading.model.Audio" >
        update `audio`
        <set >
	            <if test="recId != null" >
		            `rec_id` = #{recId},
	            </if>
	            <if test="name != null" >
		            `name` = #{name},
	            </if>
	            <if test="url != null" >
		            `url` = #{url},
	            </if>
	            <if test="intro != null" >
		            `intro` = #{intro},
	            </if>
	            <if test="qrCode != null" >
		            `qr_code` = #{qrCode},
	            </if>
	            <if test="cover != null" >
		            `cover` = #{cover},
	            </if>
	            <if test="pcCover != null" >
		            `pc_cover` = #{pcCover},
	            </if>
	            <if test="belongTo != null" >
		            `belong_to` = #{belongTo},
	            </if>
	            <if test="belongToId != null" >
		            `belong_to_id` = #{belongToId},
	            </if>
	            <if test="playNum != null" >
		            `play_num` = #{playNum},
	            </if>
	            <if test="finishNum != null" >
		            `finish_num` = #{finishNum},
	            </if>
	            <if test="orderNum != null" >
		            `order_num` = #{orderNum},
	            </if>
	            <if test="createId != null" >
		            `create_id` = #{createId},
	            </if>
	            <if test="createTime != null" >
		            `create_time` = #{createTime},
	            </if>
	            <if test="updateId != null" >
		            `update_id` = #{updateId},
	            </if>
	            <if test="updateTime != null" >
		            `update_time` = #{updateTime},
	            </if>
        </set>
        where
		    `rec_id` = #{recId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.synapse.reading.model.Audio" >
        update  `audio` SET
		    `rec_id`=#{recId},`name`=#{name},`url`=#{url},`intro`=#{intro},`qr_code`=#{qrCode},`cover`=#{cover},`pc_cover`=#{pcCover},`belong_to`=#{belongTo},`belong_to_id`=#{belongToId},`play_num`=#{playNum},`finish_num`=#{finishNum},`order_num`=#{orderNum},`create_id`=#{createId},`create_time`=#{createTime},`update_id`=#{updateId},`update_time`=#{updateTime}
        where
		    `rec_id` = #{recId}
    </update>

    <select id="count" parameterType="map" resultType="int">
        select count(1)
	    from `audio`
        where 1 = 1
            <if test="recId != null" >
                    <if test="recId.indexOf('%') >= 0" >
                        AND `rec_id` like #{recId}
                    </if>
                    <if test="recId.indexOf('%') lt 0" >
                        AND `rec_id` = #{recId}
                    </if>
            </if>
            <if test="name != null" >
                    <if test="name.indexOf('%') >= 0" >
                        AND `name` like #{name}
                    </if>
                    <if test="name.indexOf('%') lt 0" >
                        AND `name` = #{name}
                    </if>
            </if>
            <if test="url != null" >
                    <if test="url.indexOf('%') >= 0" >
                        AND `url` like #{url}
                    </if>
                    <if test="url.indexOf('%') lt 0" >
                        AND `url` = #{url}
                    </if>
            </if>
            <if test="intro != null" >
                    <if test="intro.indexOf('%') >= 0" >
                        AND `intro` like #{intro}
                    </if>
                    <if test="intro.indexOf('%') lt 0" >
                        AND `intro` = #{intro}
                    </if>
            </if>
            <if test="qrCode != null" >
                    <if test="qrCode.indexOf('%') >= 0" >
                        AND `qr_code` like #{qrCode}
                    </if>
                    <if test="qrCode.indexOf('%') lt 0" >
                        AND `qr_code` = #{qrCode}
                    </if>
            </if>
            <if test="cover != null" >
                    <if test="cover.indexOf('%') >= 0" >
                        AND `cover` like #{cover}
                    </if>
                    <if test="cover.indexOf('%') lt 0" >
                        AND `cover` = #{cover}
                    </if>
            </if>
            <if test="pcCover != null" >
                    <if test="pcCover.indexOf('%') >= 0" >
                        AND `pc_cover` like #{pcCover}
                    </if>
                    <if test="pcCover.indexOf('%') lt 0" >
                        AND `pc_cover` = #{pcCover}
                    </if>
            </if>
            <if test="belongTo != null" >
                    <if test="belongTo.indexOf('%') >= 0" >
                        AND `belong_to` like #{belongTo}
                    </if>
                    <if test="belongTo.indexOf('%') lt 0" >
                        AND `belong_to` = #{belongTo}
                    </if>
            </if>
            <if test="belongToId != null" >
                    <if test="belongToId.indexOf('%') >= 0" >
                        AND `belong_to_id` like #{belongToId}
                    </if>
                    <if test="belongToId.indexOf('%') lt 0" >
                        AND `belong_to_id` = #{belongToId}
                    </if>
            </if>
            <if test="playNum != null" >
                    AND `play_num` = #{playNum}
            </if>
            <if test="finishNum != null" >
                    AND `finish_num` = #{finishNum}
            </if>
            <if test="orderNum != null" >
                    AND `order_num` = #{orderNum}
            </if>
            <if test="createId != null" >
                    <if test="createId.indexOf('%') >= 0" >
                        AND `create_id` like #{createId}
                    </if>
                    <if test="createId.indexOf('%') lt 0" >
                        AND `create_id` = #{createId}
                    </if>
            </if>
            <if test="createTime != null" >
                    <if test="createTime.indexOf('%') >= 0" >
                        AND `create_time` like #{createTime}
                    </if>
                    <if test="createTime.indexOf('%') lt 0" >
                        AND `create_time` = #{createTime}
                    </if>
            </if>
            <if test="updateId != null" >
                    <if test="updateId.indexOf('%') >= 0" >
                        AND `update_id` like #{updateId}
                    </if>
                    <if test="updateId.indexOf('%') lt 0" >
                        AND `update_id` = #{updateId}
                    </if>
            </if>
            <if test="updateTime != null" >
                    <if test="updateTime.indexOf('%') >= 0" >
                        AND `update_time` like #{updateTime}
                    </if>
                    <if test="updateTime.indexOf('%') lt 0" >
                        AND `update_time` = #{updateTime}
                    </if>
            </if>
    </select>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `audio`
        where 1 = 1
            <if test="recId != null" >
	            <if test="recId.indexOf('%') >= 0" >
				    AND `rec_id` like #{recId}
	            </if>
                <if test="recId.indexOf('%') lt 0" >
                    AND `rec_id` = #{recId}
                </if>
            </if>
            <if test="name != null" >
	            <if test="name.indexOf('%') >= 0" >
				    AND `name` like #{name}
	            </if>
                <if test="name.indexOf('%') lt 0" >
                    AND `name` = #{name}
                </if>
            </if>
            <if test="url != null" >
	            <if test="url.indexOf('%') >= 0" >
				    AND `url` like #{url}
	            </if>
                <if test="url.indexOf('%') lt 0" >
                    AND `url` = #{url}
                </if>
            </if>
            <if test="intro != null" >
	            <if test="intro.indexOf('%') >= 0" >
				    AND `intro` like #{intro}
	            </if>
                <if test="intro.indexOf('%') lt 0" >
                    AND `intro` = #{intro}
                </if>
            </if>
            <if test="qrCode != null" >
	            <if test="qrCode.indexOf('%') >= 0" >
				    AND `qr_code` like #{qrCode}
	            </if>
                <if test="qrCode.indexOf('%') lt 0" >
                    AND `qr_code` = #{qrCode}
                </if>
            </if>
            <if test="cover != null" >
	            <if test="cover.indexOf('%') >= 0" >
				    AND `cover` like #{cover}
	            </if>
                <if test="cover.indexOf('%') lt 0" >
                    AND `cover` = #{cover}
                </if>
            </if>
            <if test="pcCover != null" >
	            <if test="pcCover.indexOf('%') >= 0" >
				    AND `pc_cover` like #{pcCover}
	            </if>
                <if test="pcCover.indexOf('%') lt 0" >
                    AND `pc_cover` = #{pcCover}
                </if>
            </if>
            <if test="belongTo != null" >
	            <if test="belongTo.indexOf('%') >= 0" >
				    AND `belong_to` like #{belongTo}
	            </if>
                <if test="belongTo.indexOf('%') lt 0" >
                    AND `belong_to` = #{belongTo}
                </if>
            </if>
            <if test="belongToId != null" >
	            <if test="belongToId.indexOf('%') >= 0" >
				    AND `belong_to_id` like #{belongToId}
	            </if>
                <if test="belongToId.indexOf('%') lt 0" >
                    AND `belong_to_id` = #{belongToId}
                </if>
            </if>
            <if test="playNum != null" >
                    AND `play_num` = #{playNum}
            </if>
            <if test="finishNum != null" >
                    AND `finish_num` = #{finishNum}
            </if>
            <if test="orderNum != null" >
                    AND `order_num` = #{orderNum}
            </if>
            <if test="createId != null" >
	            <if test="createId.indexOf('%') >= 0" >
				    AND `create_id` like #{createId}
	            </if>
                <if test="createId.indexOf('%') lt 0" >
                    AND `create_id` = #{createId}
                </if>
            </if>
            <if test="createTime != null" >
	            <if test="createTime.indexOf('%') >= 0" >
				    AND `create_time` like #{createTime}
	            </if>
                <if test="createTime.indexOf('%') lt 0" >
                    AND `create_time` = #{createTime}
                </if>
            </if>
            <if test="updateId != null" >
	            <if test="updateId.indexOf('%') >= 0" >
				    AND `update_id` like #{updateId}
	            </if>
                <if test="updateId.indexOf('%') lt 0" >
                    AND `update_id` = #{updateId}
                </if>
            </if>
            <if test="updateTime != null" >
	            <if test="updateTime.indexOf('%') >= 0" >
				    AND `update_time` like #{updateTime}
	            </if>
                <if test="updateTime.indexOf('%') lt 0" >
                    AND `update_time` = #{updateTime}
                </if>
            </if>
        <if test="startIndex != null">
        	limit ${startIndex}, ${pageSize}
        </if>
    </select>

</mapper>
