<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synapse.reading.mapper.LessonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.synapse.reading.model.Lesson">
        <id column="rec_id" property="recId" />
        <result column="name" property="name" />
        <result column="simple_intro" property="simpleIntro" />
        <result column="intro" property="intro" />
        <result column="audio_intro" property="audioIntro" />
        <result column="video_intro" property="videoIntro" />
        <result column="image" property="image" />
        <result column="qr_code" property="qrCode" />
        <result column="banner" property="banner" />
        <result column="discount" property="discount" />
        <result column="tag" property="tag" />
        <result column="original_price" property="originalPrice" />
        <result column="present_price" property="presentPrice" />
        <result column="expert_id" property="expertId" />
        <result column="publish_status" property="publishStatus" />
        <result column="status" property="status" />
        <result column="order_num" property="orderNum" />
        <result column="visit_num" property="visitNum" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `rec_id`,`name`,`simple_intro`,`intro`,`audio_intro`,`video_intro`,`image`,`qr_code`,`banner`,`discount`,`tag`,`original_price`,`present_price`,`expert_id`,`publish_status`,`status`,`order_num`,`visit_num`,`create_id`,`create_time`,`update_id`,`update_time`
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from `lesson`
        where
                `rec_id` = #{recId}
    </select>

    <insert id="insert"  parameterType="com.synapse.reading.model.Lesson">
        insert into `lesson`
        (<include refid="Base_Column_List" />)
        values (#{recId},#{name},#{simpleIntro},#{intro},#{audioIntro},#{videoIntro},#{image},#{qrCode},#{banner},#{discount},#{tag},#{originalPrice},#{presentPrice},#{expertId},#{publishStatus},#{status},#{orderNum},#{visitNum},#{createId},#{createTime},#{updateId},#{updateTime})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from `lesson`
        where
			    `rec_id` = #{recId}
    </delete>

    <insert id="insertSelective"  parameterType="com.synapse.reading.model.Lesson" >
        insert into `lesson`
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
                    `rec_id`,
                </if>
                <if test="name != null" >
                    `name`,
                </if>
                <if test="simpleIntro != null" >
                    `simple_intro`,
                </if>
                <if test="intro != null" >
                    `intro`,
                </if>
                <if test="audioIntro != null" >
                    `audio_intro`,
                </if>
                <if test="videoIntro != null" >
                    `video_intro`,
                </if>
                <if test="image != null" >
                    `image`,
                </if>
                <if test="qrCode != null" >
                    `qr_code`,
                </if>
                <if test="banner != null" >
                    `banner`,
                </if>
                <if test="discount != null" >
                    `discount`,
                </if>
                <if test="tag != null" >
                    `tag`,
                </if>
                <if test="originalPrice != null" >
                    `original_price`,
                </if>
                <if test="presentPrice != null" >
                    `present_price`,
                </if>
                <if test="expertId != null" >
                    `expert_id`,
                </if>
                <if test="publishStatus != null" >
                    `publish_status`,
                </if>
                <if test="status != null" >
                    `status`,
                </if>
                <if test="orderNum != null" >
                    `order_num`,
                </if>
                <if test="visitNum != null" >
                    `visit_num`,
                </if>
                <if test="createId != null" >
                    `create_id`,
                </if>
                <if test="createTime != null" >
                    `create_time`,
                </if>
                <if test="updateId != null" >
                    `update_id`,
                </if>
                <if test="updateTime != null" >
                    `update_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
			        #{recId},
                </if>
                <if test="name != null" >
			        #{name},
                </if>
                <if test="simpleIntro != null" >
			        #{simpleIntro},
                </if>
                <if test="intro != null" >
			        #{intro},
                </if>
                <if test="audioIntro != null" >
			        #{audioIntro},
                </if>
                <if test="videoIntro != null" >
			        #{videoIntro},
                </if>
                <if test="image != null" >
			        #{image},
                </if>
                <if test="qrCode != null" >
			        #{qrCode},
                </if>
                <if test="banner != null" >
			        #{banner},
                </if>
                <if test="discount != null" >
			        #{discount},
                </if>
                <if test="tag != null" >
			        #{tag},
                </if>
                <if test="originalPrice != null" >
			        #{originalPrice},
                </if>
                <if test="presentPrice != null" >
			        #{presentPrice},
                </if>
                <if test="expertId != null" >
			        #{expertId},
                </if>
                <if test="publishStatus != null" >
			        #{publishStatus},
                </if>
                <if test="status != null" >
			        #{status},
                </if>
                <if test="orderNum != null" >
			        #{orderNum},
                </if>
                <if test="visitNum != null" >
			        #{visitNum},
                </if>
                <if test="createId != null" >
			        #{createId},
                </if>
                <if test="createTime != null" >
			        #{createTime},
                </if>
                <if test="updateId != null" >
			        #{updateId},
                </if>
                <if test="updateTime != null" >
			        #{updateTime},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.synapse.reading.model.Lesson" >
        update `lesson`
        <set >
	            <if test="recId != null" >
		            `rec_id` = #{recId},
	            </if>
	            <if test="name != null" >
		            `name` = #{name},
	            </if>
	            <if test="simpleIntro != null" >
		            `simple_intro` = #{simpleIntro},
	            </if>
	            <if test="intro != null" >
		            `intro` = #{intro},
	            </if>
	            <if test="audioIntro != null" >
		            `audio_intro` = #{audioIntro},
	            </if>
	            <if test="videoIntro != null" >
		            `video_intro` = #{videoIntro},
	            </if>
	            <if test="image != null" >
		            `image` = #{image},
	            </if>
	            <if test="qrCode != null" >
		            `qr_code` = #{qrCode},
	            </if>
	            <if test="banner != null" >
		            `banner` = #{banner},
	            </if>
	            <if test="discount != null" >
		            `discount` = #{discount},
	            </if>
	            <if test="tag != null" >
		            `tag` = #{tag},
	            </if>
	            <if test="originalPrice != null" >
		            `original_price` = #{originalPrice},
	            </if>
	            <if test="presentPrice != null" >
		            `present_price` = #{presentPrice},
	            </if>
	            <if test="expertId != null" >
		            `expert_id` = #{expertId},
	            </if>
	            <if test="publishStatus != null" >
		            `publish_status` = #{publishStatus},
	            </if>
	            <if test="status != null" >
		            `status` = #{status},
	            </if>
	            <if test="orderNum != null" >
		            `order_num` = #{orderNum},
	            </if>
	            <if test="visitNum != null" >
		            `visit_num` = #{visitNum},
	            </if>
	            <if test="createId != null" >
		            `create_id` = #{createId},
	            </if>
	            <if test="createTime != null" >
		            `create_time` = #{createTime},
	            </if>
	            <if test="updateId != null" >
		            `update_id` = #{updateId},
	            </if>
	            <if test="updateTime != null" >
		            `update_time` = #{updateTime},
	            </if>
        </set>
        where
		    `rec_id` = #{recId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.synapse.reading.model.Lesson" >
        update  `lesson` SET
		    `rec_id`=#{recId},`name`=#{name},`simple_intro`=#{simpleIntro},`intro`=#{intro},`audio_intro`=#{audioIntro},`video_intro`=#{videoIntro},`image`=#{image},`qr_code`=#{qrCode},`banner`=#{banner},`discount`=#{discount},`tag`=#{tag},`original_price`=#{originalPrice},`present_price`=#{presentPrice},`expert_id`=#{expertId},`publish_status`=#{publishStatus},`status`=#{status},`order_num`=#{orderNum},`visit_num`=#{visitNum},`create_id`=#{createId},`create_time`=#{createTime},`update_id`=#{updateId},`update_time`=#{updateTime}
        where
		    `rec_id` = #{recId}
    </update>

    <select id="count" parameterType="map" resultType="int">
        select count(1)
	    from `lesson`
        where 1 = 1
            <if test="recId != null" >
                    <if test="recId.indexOf('%') >= 0" >
                        AND `rec_id` like #{recId}
                    </if>
                    <if test="recId.indexOf('%') lt 0" >
                        AND `rec_id` = #{recId}
                    </if>
            </if>
            <if test="name != null" >
                    <if test="name.indexOf('%') >= 0" >
                        AND `name` like #{name}
                    </if>
                    <if test="name.indexOf('%') lt 0" >
                        AND `name` = #{name}
                    </if>
            </if>
            <if test="simpleIntro != null" >
                    <if test="simpleIntro.indexOf('%') >= 0" >
                        AND `simple_intro` like #{simpleIntro}
                    </if>
                    <if test="simpleIntro.indexOf('%') lt 0" >
                        AND `simple_intro` = #{simpleIntro}
                    </if>
            </if>
            <if test="intro != null" >
                    <if test="intro.indexOf('%') >= 0" >
                        AND `intro` like #{intro}
                    </if>
                    <if test="intro.indexOf('%') lt 0" >
                        AND `intro` = #{intro}
                    </if>
            </if>
            <if test="audioIntro != null" >
                    <if test="audioIntro.indexOf('%') >= 0" >
                        AND `audio_intro` like #{audioIntro}
                    </if>
                    <if test="audioIntro.indexOf('%') lt 0" >
                        AND `audio_intro` = #{audioIntro}
                    </if>
            </if>
            <if test="videoIntro != null" >
                    <if test="videoIntro.indexOf('%') >= 0" >
                        AND `video_intro` like #{videoIntro}
                    </if>
                    <if test="videoIntro.indexOf('%') lt 0" >
                        AND `video_intro` = #{videoIntro}
                    </if>
            </if>
            <if test="image != null" >
                    <if test="image.indexOf('%') >= 0" >
                        AND `image` like #{image}
                    </if>
                    <if test="image.indexOf('%') lt 0" >
                        AND `image` = #{image}
                    </if>
            </if>
            <if test="qrCode != null" >
                    <if test="qrCode.indexOf('%') >= 0" >
                        AND `qr_code` like #{qrCode}
                    </if>
                    <if test="qrCode.indexOf('%') lt 0" >
                        AND `qr_code` = #{qrCode}
                    </if>
            </if>
            <if test="banner != null" >
                    <if test="banner.indexOf('%') >= 0" >
                        AND `banner` like #{banner}
                    </if>
                    <if test="banner.indexOf('%') lt 0" >
                        AND `banner` = #{banner}
                    </if>
            </if>
            <if test="discount != null" >
                    <if test="discount.indexOf('%') >= 0" >
                        AND `discount` like #{discount}
                    </if>
                    <if test="discount.indexOf('%') lt 0" >
                        AND `discount` = #{discount}
                    </if>
            </if>
            <if test="tag != null" >
                    <if test="tag.indexOf('%') >= 0" >
                        AND `tag` like #{tag}
                    </if>
                    <if test="tag.indexOf('%') lt 0" >
                        AND `tag` = #{tag}
                    </if>
            </if>
            <if test="originalPrice != null" >
                    <if test="originalPrice.indexOf('%') >= 0" >
                        AND `original_price` like #{originalPrice}
                    </if>
                    <if test="originalPrice.indexOf('%') lt 0" >
                        AND `original_price` = #{originalPrice}
                    </if>
            </if>
            <if test="presentPrice != null" >
                    <if test="presentPrice.indexOf('%') >= 0" >
                        AND `present_price` like #{presentPrice}
                    </if>
                    <if test="presentPrice.indexOf('%') lt 0" >
                        AND `present_price` = #{presentPrice}
                    </if>
            </if>
            <if test="expertId != null" >
                    <if test="expertId.indexOf('%') >= 0" >
                        AND `expert_id` like #{expertId}
                    </if>
                    <if test="expertId.indexOf('%') lt 0" >
                        AND `expert_id` = #{expertId}
                    </if>
            </if>
            <if test="publishStatus != null" >
                    <if test="publishStatus.indexOf('%') >= 0" >
                        AND `publish_status` like #{publishStatus}
                    </if>
                    <if test="publishStatus.indexOf('%') lt 0" >
                        AND `publish_status` = #{publishStatus}
                    </if>
            </if>
            <if test="status != null" >
                    <if test="status.indexOf('%') >= 0" >
                        AND `status` like #{status}
                    </if>
                    <if test="status.indexOf('%') lt 0" >
                        AND `status` = #{status}
                    </if>
            </if>
            <if test="orderNum != null" >
                    AND `order_num` = #{orderNum}
            </if>
            <if test="visitNum != null" >
                    AND `visit_num` = #{visitNum}
            </if>
            <if test="createId != null" >
                    <if test="createId.indexOf('%') >= 0" >
                        AND `create_id` like #{createId}
                    </if>
                    <if test="createId.indexOf('%') lt 0" >
                        AND `create_id` = #{createId}
                    </if>
            </if>
            <if test="createTime != null" >
                    <if test="createTime.indexOf('%') >= 0" >
                        AND `create_time` like #{createTime}
                    </if>
                    <if test="createTime.indexOf('%') lt 0" >
                        AND `create_time` = #{createTime}
                    </if>
            </if>
            <if test="updateId != null" >
                    <if test="updateId.indexOf('%') >= 0" >
                        AND `update_id` like #{updateId}
                    </if>
                    <if test="updateId.indexOf('%') lt 0" >
                        AND `update_id` = #{updateId}
                    </if>
            </if>
            <if test="updateTime != null" >
                    <if test="updateTime.indexOf('%') >= 0" >
                        AND `update_time` like #{updateTime}
                    </if>
                    <if test="updateTime.indexOf('%') lt 0" >
                        AND `update_time` = #{updateTime}
                    </if>
            </if>
    </select>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `lesson`
        where 1 = 1
            <if test="recId != null" >
	            <if test="recId.indexOf('%') >= 0" >
				    AND `rec_id` like #{recId}
	            </if>
                <if test="recId.indexOf('%') lt 0" >
                    AND `rec_id` = #{recId}
                </if>
            </if>
            <if test="name != null" >
	            <if test="name.indexOf('%') >= 0" >
				    AND `name` like #{name}
	            </if>
                <if test="name.indexOf('%') lt 0" >
                    AND `name` = #{name}
                </if>
            </if>
            <if test="simpleIntro != null" >
	            <if test="simpleIntro.indexOf('%') >= 0" >
				    AND `simple_intro` like #{simpleIntro}
	            </if>
                <if test="simpleIntro.indexOf('%') lt 0" >
                    AND `simple_intro` = #{simpleIntro}
                </if>
            </if>
            <if test="intro != null" >
	            <if test="intro.indexOf('%') >= 0" >
				    AND `intro` like #{intro}
	            </if>
                <if test="intro.indexOf('%') lt 0" >
                    AND `intro` = #{intro}
                </if>
            </if>
            <if test="audioIntro != null" >
	            <if test="audioIntro.indexOf('%') >= 0" >
				    AND `audio_intro` like #{audioIntro}
	            </if>
                <if test="audioIntro.indexOf('%') lt 0" >
                    AND `audio_intro` = #{audioIntro}
                </if>
            </if>
            <if test="videoIntro != null" >
	            <if test="videoIntro.indexOf('%') >= 0" >
				    AND `video_intro` like #{videoIntro}
	            </if>
                <if test="videoIntro.indexOf('%') lt 0" >
                    AND `video_intro` = #{videoIntro}
                </if>
            </if>
            <if test="image != null" >
	            <if test="image.indexOf('%') >= 0" >
				    AND `image` like #{image}
	            </if>
                <if test="image.indexOf('%') lt 0" >
                    AND `image` = #{image}
                </if>
            </if>
            <if test="qrCode != null" >
	            <if test="qrCode.indexOf('%') >= 0" >
				    AND `qr_code` like #{qrCode}
	            </if>
                <if test="qrCode.indexOf('%') lt 0" >
                    AND `qr_code` = #{qrCode}
                </if>
            </if>
            <if test="banner != null" >
	            <if test="banner.indexOf('%') >= 0" >
				    AND `banner` like #{banner}
	            </if>
                <if test="banner.indexOf('%') lt 0" >
                    AND `banner` = #{banner}
                </if>
            </if>
            <if test="discount != null" >
	            <if test="discount.indexOf('%') >= 0" >
				    AND `discount` like #{discount}
	            </if>
                <if test="discount.indexOf('%') lt 0" >
                    AND `discount` = #{discount}
                </if>
            </if>
            <if test="tag != null" >
	            <if test="tag.indexOf('%') >= 0" >
				    AND `tag` like #{tag}
	            </if>
                <if test="tag.indexOf('%') lt 0" >
                    AND `tag` = #{tag}
                </if>
            </if>
            <if test="originalPrice != null" >
	            <if test="originalPrice.indexOf('%') >= 0" >
				    AND `original_price` like #{originalPrice}
	            </if>
                <if test="originalPrice.indexOf('%') lt 0" >
                    AND `original_price` = #{originalPrice}
                </if>
            </if>
            <if test="presentPrice != null" >
	            <if test="presentPrice.indexOf('%') >= 0" >
				    AND `present_price` like #{presentPrice}
	            </if>
                <if test="presentPrice.indexOf('%') lt 0" >
                    AND `present_price` = #{presentPrice}
                </if>
            </if>
            <if test="expertId != null" >
	            <if test="expertId.indexOf('%') >= 0" >
				    AND `expert_id` like #{expertId}
	            </if>
                <if test="expertId.indexOf('%') lt 0" >
                    AND `expert_id` = #{expertId}
                </if>
            </if>
            <if test="publishStatus != null" >
	            <if test="publishStatus.indexOf('%') >= 0" >
				    AND `publish_status` like #{publishStatus}
	            </if>
                <if test="publishStatus.indexOf('%') lt 0" >
                    AND `publish_status` = #{publishStatus}
                </if>
            </if>
            <if test="status != null" >
	            <if test="status.indexOf('%') >= 0" >
				    AND `status` like #{status}
	            </if>
                <if test="status.indexOf('%') lt 0" >
                    AND `status` = #{status}
                </if>
            </if>
            <if test="orderNum != null" >
                    AND `order_num` = #{orderNum}
            </if>
            <if test="visitNum != null" >
                    AND `visit_num` = #{visitNum}
            </if>
            <if test="createId != null" >
	            <if test="createId.indexOf('%') >= 0" >
				    AND `create_id` like #{createId}
	            </if>
                <if test="createId.indexOf('%') lt 0" >
                    AND `create_id` = #{createId}
                </if>
            </if>
            <if test="createTime != null" >
	            <if test="createTime.indexOf('%') >= 0" >
				    AND `create_time` like #{createTime}
	            </if>
                <if test="createTime.indexOf('%') lt 0" >
                    AND `create_time` = #{createTime}
                </if>
            </if>
            <if test="updateId != null" >
	            <if test="updateId.indexOf('%') >= 0" >
				    AND `update_id` like #{updateId}
	            </if>
                <if test="updateId.indexOf('%') lt 0" >
                    AND `update_id` = #{updateId}
                </if>
            </if>
            <if test="updateTime != null" >
	            <if test="updateTime.indexOf('%') >= 0" >
				    AND `update_time` like #{updateTime}
	            </if>
                <if test="updateTime.indexOf('%') lt 0" >
                    AND `update_time` = #{updateTime}
                </if>
            </if>
        <if test="startIndex != null">
        	limit ${startIndex}, ${pageSize}
        </if>
    </select>

</mapper>
