<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synapse.reading.mapper.MediaCountsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.synapse.reading.model.MediaCounts">
        <id column="rec_id" property="recId" />
        <result column="media_id" property="mediaId" />
        <result column="media_type" property="mediaType" />
        <result column="clicked" property="clicked" />
        <result column="finished" property="finished" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `rec_id`,`media_id`,`media_type`,`clicked`,`finished`,`create_time`
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from `media_counts`
        where
                `rec_id` = #{recId}
    </select>

    <insert id="insert"  parameterType="com.synapse.reading.model.MediaCounts">
        insert into `media_counts`
        (<include refid="Base_Column_List" />)
        values (#{recId},#{mediaId},#{mediaType},#{clicked},#{finished},#{createTime})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from `media_counts`
        where
			    `rec_id` = #{recId}
    </delete>

    <insert id="insertSelective"  parameterType="com.synapse.reading.model.MediaCounts" >
        insert into `media_counts`
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
                    `rec_id`,
                </if>
                <if test="mediaId != null" >
                    `media_id`,
                </if>
                <if test="mediaType != null" >
                    `media_type`,
                </if>
                <if test="clicked != null" >
                    `clicked`,
                </if>
                <if test="finished != null" >
                    `finished`,
                </if>
                <if test="createTime != null" >
                    `create_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
			        #{recId},
                </if>
                <if test="mediaId != null" >
			        #{mediaId},
                </if>
                <if test="mediaType != null" >
			        #{mediaType},
                </if>
                <if test="clicked != null" >
			        #{clicked},
                </if>
                <if test="finished != null" >
			        #{finished},
                </if>
                <if test="createTime != null" >
			        #{createTime},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.synapse.reading.model.MediaCounts" >
        update `media_counts`
        <set >
	            <if test="recId != null" >
		            `rec_id` = #{recId},
	            </if>
	            <if test="mediaId != null" >
		            `media_id` = #{mediaId},
	            </if>
	            <if test="mediaType != null" >
		            `media_type` = #{mediaType},
	            </if>
	            <if test="clicked != null" >
		            `clicked` = #{clicked},
	            </if>
	            <if test="finished != null" >
		            `finished` = #{finished},
	            </if>
	            <if test="createTime != null" >
		            `create_time` = #{createTime},
	            </if>
        </set>
        where
		    `rec_id` = #{recId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.synapse.reading.model.MediaCounts" >
        update  `media_counts` SET
		    `rec_id`=#{recId},`media_id`=#{mediaId},`media_type`=#{mediaType},`clicked`=#{clicked},`finished`=#{finished},`create_time`=#{createTime}
        where
		    `rec_id` = #{recId}
    </update>

    <select id="count" parameterType="map" resultType="int">
        select count(1)
	    from `media_counts`
        where 1 = 1
            <if test="recId != null" >
                    <if test="recId.indexOf('%') >= 0" >
                        AND `rec_id` like #{recId}
                    </if>
                    <if test="recId.indexOf('%') lt 0" >
                        AND `rec_id` = #{recId}
                    </if>
            </if>
            <if test="mediaId != null" >
                    <if test="mediaId.indexOf('%') >= 0" >
                        AND `media_id` like #{mediaId}
                    </if>
                    <if test="mediaId.indexOf('%') lt 0" >
                        AND `media_id` = #{mediaId}
                    </if>
            </if>
            <if test="mediaType != null" >
                    <if test="mediaType.indexOf('%') >= 0" >
                        AND `media_type` like #{mediaType}
                    </if>
                    <if test="mediaType.indexOf('%') lt 0" >
                        AND `media_type` = #{mediaType}
                    </if>
            </if>
            <if test="clicked != null" >
                    <if test="clicked.indexOf('%') >= 0" >
                        AND `clicked` like #{clicked}
                    </if>
                    <if test="clicked.indexOf('%') lt 0" >
                        AND `clicked` = #{clicked}
                    </if>
            </if>
            <if test="finished != null" >
                    <if test="finished.indexOf('%') >= 0" >
                        AND `finished` like #{finished}
                    </if>
                    <if test="finished.indexOf('%') lt 0" >
                        AND `finished` = #{finished}
                    </if>
            </if>
            <if test="createTime != null" >
                    <if test="createTime.indexOf('%') >= 0" >
                        AND `create_time` like #{createTime}
                    </if>
                    <if test="createTime.indexOf('%') lt 0" >
                        AND `create_time` = #{createTime}
                    </if>
            </if>
    </select>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `media_counts`
        where 1 = 1
            <if test="recId != null" >
	            <if test="recId.indexOf('%') >= 0" >
				    AND `rec_id` like #{recId}
	            </if>
                <if test="recId.indexOf('%') lt 0" >
                    AND `rec_id` = #{recId}
                </if>
            </if>
            <if test="mediaId != null" >
	            <if test="mediaId.indexOf('%') >= 0" >
				    AND `media_id` like #{mediaId}
	            </if>
                <if test="mediaId.indexOf('%') lt 0" >
                    AND `media_id` = #{mediaId}
                </if>
            </if>
            <if test="mediaType != null" >
	            <if test="mediaType.indexOf('%') >= 0" >
				    AND `media_type` like #{mediaType}
	            </if>
                <if test="mediaType.indexOf('%') lt 0" >
                    AND `media_type` = #{mediaType}
                </if>
            </if>
            <if test="clicked != null" >
	            <if test="clicked.indexOf('%') >= 0" >
				    AND `clicked` like #{clicked}
	            </if>
                <if test="clicked.indexOf('%') lt 0" >
                    AND `clicked` = #{clicked}
                </if>
            </if>
            <if test="finished != null" >
	            <if test="finished.indexOf('%') >= 0" >
				    AND `finished` like #{finished}
	            </if>
                <if test="finished.indexOf('%') lt 0" >
                    AND `finished` = #{finished}
                </if>
            </if>
            <if test="createTime != null" >
	            <if test="createTime.indexOf('%') >= 0" >
				    AND `create_time` like #{createTime}
	            </if>
                <if test="createTime.indexOf('%') lt 0" >
                    AND `create_time` = #{createTime}
                </if>
            </if>
        <if test="startIndex != null">
        	limit ${startIndex}, ${pageSize}
        </if>
    </select>

</mapper>
