<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synapse.reading.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.synapse.reading.model.Member">
        <id column="user_id" property="userId" />
        <result column="ROLE" property="role" />
        <result column="import_data" property="importData" />
        <result column="mobile" property="mobile" />
        <result column="pic" property="pic" />
        <result column="audio_intro" property="audioIntro" />
        <result column="expert" property="expert" />
        <result column="office_status" property="officeStatus" />
        <result column="ORGANIZATION" property="organization" />
        <result column="ID_CARD" property="idCard" />
        <result column="STATUS" property="status" />
        <result column="PHASE" property="phase" />
        <result column="SUBJECT" property="subject" />
        <result column="NAME" property="name" />
        <result column="point" property="point" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `user_id`,`ROLE`,`import_data`,`mobile`,`pic`,`audio_intro`,`expert`,`office_status`,`ORGANIZATION`,`ID_CARD`,`STATUS`,`PHASE`,`SUBJECT`,`NAME`,`point`,`create_id`,`create_time`,`update_id`,`update_time`
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from `member`
        where
                `user_id` = #{userId}
    </select>

    <insert id="insert"  parameterType="com.synapse.reading.model.Member">
        insert into `member`
        (<include refid="Base_Column_List" />)
        values (#{userId},#{role},#{importData},#{mobile},#{pic},#{audioIntro},#{expert},#{officeStatus},#{organization},#{idCard},#{status},#{phase},#{subject},#{name},#{point},#{createId},#{createTime},#{updateId},#{updateTime})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from `member`
        where
			    `user_id` = #{userId}
    </delete>

    <insert id="insertSelective"  parameterType="com.synapse.reading.model.Member" >
        insert into `member`
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="userId != null" >
                    `user_id`,
                </if>
                <if test="role != null" >
                    `ROLE`,
                </if>
                <if test="importData != null" >
                    `import_data`,
                </if>
                <if test="mobile != null" >
                    `mobile`,
                </if>
                <if test="pic != null" >
                    `pic`,
                </if>
                <if test="audioIntro != null" >
                    `audio_intro`,
                </if>
                <if test="expert != null" >
                    `expert`,
                </if>
                <if test="officeStatus != null" >
                    `office_status`,
                </if>
                <if test="organization != null" >
                    `ORGANIZATION`,
                </if>
                <if test="idCard != null" >
                    `ID_CARD`,
                </if>
                <if test="status != null" >
                    `STATUS`,
                </if>
                <if test="phase != null" >
                    `PHASE`,
                </if>
                <if test="subject != null" >
                    `SUBJECT`,
                </if>
                <if test="name != null" >
                    `NAME`,
                </if>
                <if test="point != null" >
                    `point`,
                </if>
                <if test="createId != null" >
                    `create_id`,
                </if>
                <if test="createTime != null" >
                    `create_time`,
                </if>
                <if test="updateId != null" >
                    `update_id`,
                </if>
                <if test="updateTime != null" >
                    `update_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="userId != null" >
			        #{userId},
                </if>
                <if test="role != null" >
			        #{role},
                </if>
                <if test="importData != null" >
			        #{importData},
                </if>
                <if test="mobile != null" >
			        #{mobile},
                </if>
                <if test="pic != null" >
			        #{pic},
                </if>
                <if test="audioIntro != null" >
			        #{audioIntro},
                </if>
                <if test="expert != null" >
			        #{expert},
                </if>
                <if test="officeStatus != null" >
			        #{officeStatus},
                </if>
                <if test="organization != null" >
			        #{organization},
                </if>
                <if test="idCard != null" >
			        #{idCard},
                </if>
                <if test="status != null" >
			        #{status},
                </if>
                <if test="phase != null" >
			        #{phase},
                </if>
                <if test="subject != null" >
			        #{subject},
                </if>
                <if test="name != null" >
			        #{name},
                </if>
                <if test="point != null" >
			        #{point},
                </if>
                <if test="createId != null" >
			        #{createId},
                </if>
                <if test="createTime != null" >
			        #{createTime},
                </if>
                <if test="updateId != null" >
			        #{updateId},
                </if>
                <if test="updateTime != null" >
			        #{updateTime},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.synapse.reading.model.Member" >
        update `member`
        <set >
	            <if test="userId != null" >
		            `user_id` = #{userId},
	            </if>
	            <if test="role != null" >
		            `ROLE` = #{role},
	            </if>
	            <if test="importData != null" >
		            `import_data` = #{importData},
	            </if>
	            <if test="mobile != null" >
		            `mobile` = #{mobile},
	            </if>
	            <if test="pic != null" >
		            `pic` = #{pic},
	            </if>
	            <if test="audioIntro != null" >
		            `audio_intro` = #{audioIntro},
	            </if>
	            <if test="expert != null" >
		            `expert` = #{expert},
	            </if>
	            <if test="officeStatus != null" >
		            `office_status` = #{officeStatus},
	            </if>
	            <if test="organization != null" >
		            `ORGANIZATION` = #{organization},
	            </if>
	            <if test="idCard != null" >
		            `ID_CARD` = #{idCard},
	            </if>
	            <if test="status != null" >
		            `STATUS` = #{status},
	            </if>
	            <if test="phase != null" >
		            `PHASE` = #{phase},
	            </if>
	            <if test="subject != null" >
		            `SUBJECT` = #{subject},
	            </if>
	            <if test="name != null" >
		            `NAME` = #{name},
	            </if>
	            <if test="point != null" >
		            `point` = #{point},
	            </if>
	            <if test="createId != null" >
		            `create_id` = #{createId},
	            </if>
	            <if test="createTime != null" >
		            `create_time` = #{createTime},
	            </if>
	            <if test="updateId != null" >
		            `update_id` = #{updateId},
	            </if>
	            <if test="updateTime != null" >
		            `update_time` = #{updateTime},
	            </if>
        </set>
        where
		    `user_id` = #{userId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.synapse.reading.model.Member" >
        update  `member` SET
		    `user_id`=#{userId},`ROLE`=#{role},`import_data`=#{importData},`mobile`=#{mobile},`pic`=#{pic},`audio_intro`=#{audioIntro},`expert`=#{expert},`office_status`=#{officeStatus},`ORGANIZATION`=#{organization},`ID_CARD`=#{idCard},`STATUS`=#{status},`PHASE`=#{phase},`SUBJECT`=#{subject},`NAME`=#{name},`point`=#{point},`create_id`=#{createId},`create_time`=#{createTime},`update_id`=#{updateId},`update_time`=#{updateTime}
        where
		    `user_id` = #{userId}
    </update>

    <select id="count" parameterType="map" resultType="int">
        select count(1)
	    from `member`
        where 1 = 1
            <if test="userId != null" >
                    <if test="userId.indexOf('%') >= 0" >
                        AND `user_id` like #{userId}
                    </if>
                    <if test="userId.indexOf('%') lt 0" >
                        AND `user_id` = #{userId}
                    </if>
            </if>
            <if test="role != null" >
                    <if test="role.indexOf('%') >= 0" >
                        AND `ROLE` like #{role}
                    </if>
                    <if test="role.indexOf('%') lt 0" >
                        AND `ROLE` = #{role}
                    </if>
            </if>
            <if test="importData != null" >
                    <if test="importData.indexOf('%') >= 0" >
                        AND `import_data` like #{importData}
                    </if>
                    <if test="importData.indexOf('%') lt 0" >
                        AND `import_data` = #{importData}
                    </if>
            </if>
            <if test="mobile != null" >
                    <if test="mobile.indexOf('%') >= 0" >
                        AND `mobile` like #{mobile}
                    </if>
                    <if test="mobile.indexOf('%') lt 0" >
                        AND `mobile` = #{mobile}
                    </if>
            </if>
            <if test="pic != null" >
                    <if test="pic.indexOf('%') >= 0" >
                        AND `pic` like #{pic}
                    </if>
                    <if test="pic.indexOf('%') lt 0" >
                        AND `pic` = #{pic}
                    </if>
            </if>
            <if test="audioIntro != null" >
                    <if test="audioIntro.indexOf('%') >= 0" >
                        AND `audio_intro` like #{audioIntro}
                    </if>
                    <if test="audioIntro.indexOf('%') lt 0" >
                        AND `audio_intro` = #{audioIntro}
                    </if>
            </if>
            <if test="expert != null" >
                    AND `expert` = #{expert}
            </if>
            <if test="officeStatus != null" >
                    <if test="officeStatus.indexOf('%') >= 0" >
                        AND `office_status` like #{officeStatus}
                    </if>
                    <if test="officeStatus.indexOf('%') lt 0" >
                        AND `office_status` = #{officeStatus}
                    </if>
            </if>
            <if test="organization != null" >
                    <if test="organization.indexOf('%') >= 0" >
                        AND `ORGANIZATION` like #{organization}
                    </if>
                    <if test="organization.indexOf('%') lt 0" >
                        AND `ORGANIZATION` = #{organization}
                    </if>
            </if>
            <if test="idCard != null" >
                    <if test="idCard.indexOf('%') >= 0" >
                        AND `ID_CARD` like #{idCard}
                    </if>
                    <if test="idCard.indexOf('%') lt 0" >
                        AND `ID_CARD` = #{idCard}
                    </if>
            </if>
            <if test="status != null" >
                    <if test="status.indexOf('%') >= 0" >
                        AND `STATUS` like #{status}
                    </if>
                    <if test="status.indexOf('%') lt 0" >
                        AND `STATUS` = #{status}
                    </if>
            </if>
            <if test="phase != null" >
                    <if test="phase.indexOf('%') >= 0" >
                        AND `PHASE` like #{phase}
                    </if>
                    <if test="phase.indexOf('%') lt 0" >
                        AND `PHASE` = #{phase}
                    </if>
            </if>
            <if test="subject != null" >
                    <if test="subject.indexOf('%') >= 0" >
                        AND `SUBJECT` like #{subject}
                    </if>
                    <if test="subject.indexOf('%') lt 0" >
                        AND `SUBJECT` = #{subject}
                    </if>
            </if>
            <if test="name != null" >
                    <if test="name.indexOf('%') >= 0" >
                        AND `NAME` like #{name}
                    </if>
                    <if test="name.indexOf('%') lt 0" >
                        AND `NAME` = #{name}
                    </if>
            </if>
            <if test="point != null" >
                    AND `point` = #{point}
            </if>
            <if test="createId != null" >
                    <if test="createId.indexOf('%') >= 0" >
                        AND `create_id` like #{createId}
                    </if>
                    <if test="createId.indexOf('%') lt 0" >
                        AND `create_id` = #{createId}
                    </if>
            </if>
            <if test="createTime != null" >
                    <if test="createTime.indexOf('%') >= 0" >
                        AND `create_time` like #{createTime}
                    </if>
                    <if test="createTime.indexOf('%') lt 0" >
                        AND `create_time` = #{createTime}
                    </if>
            </if>
            <if test="updateId != null" >
                    <if test="updateId.indexOf('%') >= 0" >
                        AND `update_id` like #{updateId}
                    </if>
                    <if test="updateId.indexOf('%') lt 0" >
                        AND `update_id` = #{updateId}
                    </if>
            </if>
            <if test="updateTime != null" >
                    <if test="updateTime.indexOf('%') >= 0" >
                        AND `update_time` like #{updateTime}
                    </if>
                    <if test="updateTime.indexOf('%') lt 0" >
                        AND `update_time` = #{updateTime}
                    </if>
            </if>
    </select>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `member`
        where 1 = 1
            <if test="userId != null" >
	            <if test="userId.indexOf('%') >= 0" >
				    AND `user_id` like #{userId}
	            </if>
                <if test="userId.indexOf('%') lt 0" >
                    AND `user_id` = #{userId}
                </if>
            </if>
            <if test="role != null" >
	            <if test="role.indexOf('%') >= 0" >
				    AND `ROLE` like #{role}
	            </if>
                <if test="role.indexOf('%') lt 0" >
                    AND `ROLE` = #{role}
                </if>
            </if>
            <if test="importData != null" >
	            <if test="importData.indexOf('%') >= 0" >
				    AND `import_data` like #{importData}
	            </if>
                <if test="importData.indexOf('%') lt 0" >
                    AND `import_data` = #{importData}
                </if>
            </if>
            <if test="mobile != null" >
	            <if test="mobile.indexOf('%') >= 0" >
				    AND `mobile` like #{mobile}
	            </if>
                <if test="mobile.indexOf('%') lt 0" >
                    AND `mobile` = #{mobile}
                </if>
            </if>
            <if test="pic != null" >
	            <if test="pic.indexOf('%') >= 0" >
				    AND `pic` like #{pic}
	            </if>
                <if test="pic.indexOf('%') lt 0" >
                    AND `pic` = #{pic}
                </if>
            </if>
            <if test="audioIntro != null" >
	            <if test="audioIntro.indexOf('%') >= 0" >
				    AND `audio_intro` like #{audioIntro}
	            </if>
                <if test="audioIntro.indexOf('%') lt 0" >
                    AND `audio_intro` = #{audioIntro}
                </if>
            </if>
            <if test="expert != null" >
                    AND `expert` = #{expert}
            </if>
            <if test="officeStatus != null" >
	            <if test="officeStatus.indexOf('%') >= 0" >
				    AND `office_status` like #{officeStatus}
	            </if>
                <if test="officeStatus.indexOf('%') lt 0" >
                    AND `office_status` = #{officeStatus}
                </if>
            </if>
            <if test="organization != null" >
	            <if test="organization.indexOf('%') >= 0" >
				    AND `ORGANIZATION` like #{organization}
	            </if>
                <if test="organization.indexOf('%') lt 0" >
                    AND `ORGANIZATION` = #{organization}
                </if>
            </if>
            <if test="idCard != null" >
	            <if test="idCard.indexOf('%') >= 0" >
				    AND `ID_CARD` like #{idCard}
	            </if>
                <if test="idCard.indexOf('%') lt 0" >
                    AND `ID_CARD` = #{idCard}
                </if>
            </if>
            <if test="status != null" >
	            <if test="status.indexOf('%') >= 0" >
				    AND `STATUS` like #{status}
	            </if>
                <if test="status.indexOf('%') lt 0" >
                    AND `STATUS` = #{status}
                </if>
            </if>
            <if test="phase != null" >
	            <if test="phase.indexOf('%') >= 0" >
				    AND `PHASE` like #{phase}
	            </if>
                <if test="phase.indexOf('%') lt 0" >
                    AND `PHASE` = #{phase}
                </if>
            </if>
            <if test="subject != null" >
	            <if test="subject.indexOf('%') >= 0" >
				    AND `SUBJECT` like #{subject}
	            </if>
                <if test="subject.indexOf('%') lt 0" >
                    AND `SUBJECT` = #{subject}
                </if>
            </if>
            <if test="name != null" >
	            <if test="name.indexOf('%') >= 0" >
				    AND `NAME` like #{name}
	            </if>
                <if test="name.indexOf('%') lt 0" >
                    AND `NAME` = #{name}
                </if>
            </if>
            <if test="point != null" >
                    AND `point` = #{point}
            </if>
            <if test="createId != null" >
	            <if test="createId.indexOf('%') >= 0" >
				    AND `create_id` like #{createId}
	            </if>
                <if test="createId.indexOf('%') lt 0" >
                    AND `create_id` = #{createId}
                </if>
            </if>
            <if test="createTime != null" >
	            <if test="createTime.indexOf('%') >= 0" >
				    AND `create_time` like #{createTime}
	            </if>
                <if test="createTime.indexOf('%') lt 0" >
                    AND `create_time` = #{createTime}
                </if>
            </if>
            <if test="updateId != null" >
	            <if test="updateId.indexOf('%') >= 0" >
				    AND `update_id` like #{updateId}
	            </if>
                <if test="updateId.indexOf('%') lt 0" >
                    AND `update_id` = #{updateId}
                </if>
            </if>
            <if test="updateTime != null" >
	            <if test="updateTime.indexOf('%') >= 0" >
				    AND `update_time` like #{updateTime}
	            </if>
                <if test="updateTime.indexOf('%') lt 0" >
                    AND `update_time` = #{updateTime}
                </if>
            </if>
        <if test="startIndex != null">
        	limit ${startIndex}, ${pageSize}
        </if>
    </select>

</mapper>
