<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synapse.reading.mapper.RecommendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.synapse.reading.model.Recommend">
        <id column="rec_id" property="recId" />
        <result column="recommend_type" property="recommendType" />
        <result column="recommend_id" property="recommendId" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `rec_id`,`recommend_type`,`recommend_id`,`create_id`,`create_time`,`start_time`,`end_time`
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from `recommend`
        where
                `rec_id` = #{recId}
    </select>

    <insert id="insert"  parameterType="com.synapse.reading.model.Recommend">
        insert into `recommend`
        (<include refid="Base_Column_List" />)
        values (#{recId},#{recommendType},#{recommendId},#{createId},#{createTime},#{startTime},#{endTime})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from `recommend`
        where
			    `rec_id` = #{recId}
    </delete>

    <insert id="insertSelective"  parameterType="com.synapse.reading.model.Recommend" >
        insert into `recommend`
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
                    `rec_id`,
                </if>
                <if test="recommendType != null" >
                    `recommend_type`,
                </if>
                <if test="recommendId != null" >
                    `recommend_id`,
                </if>
                <if test="createId != null" >
                    `create_id`,
                </if>
                <if test="createTime != null" >
                    `create_time`,
                </if>
                <if test="startTime != null" >
                    `start_time`,
                </if>
                <if test="endTime != null" >
                    `end_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
			        #{recId},
                </if>
                <if test="recommendType != null" >
			        #{recommendType},
                </if>
                <if test="recommendId != null" >
			        #{recommendId},
                </if>
                <if test="createId != null" >
			        #{createId},
                </if>
                <if test="createTime != null" >
			        #{createTime},
                </if>
                <if test="startTime != null" >
			        #{startTime},
                </if>
                <if test="endTime != null" >
			        #{endTime},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.synapse.reading.model.Recommend" >
        update `recommend`
        <set >
	            <if test="recId != null" >
		            `rec_id` = #{recId},
	            </if>
	            <if test="recommendType != null" >
		            `recommend_type` = #{recommendType},
	            </if>
	            <if test="recommendId != null" >
		            `recommend_id` = #{recommendId},
	            </if>
	            <if test="createId != null" >
		            `create_id` = #{createId},
	            </if>
	            <if test="createTime != null" >
		            `create_time` = #{createTime},
	            </if>
	            <if test="startTime != null" >
		            `start_time` = #{startTime},
	            </if>
	            <if test="endTime != null" >
		            `end_time` = #{endTime},
	            </if>
        </set>
        where
		    `rec_id` = #{recId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.synapse.reading.model.Recommend" >
        update  `recommend` SET
		    `rec_id`=#{recId},`recommend_type`=#{recommendType},`recommend_id`=#{recommendId},`create_id`=#{createId},`create_time`=#{createTime},`start_time`=#{startTime},`end_time`=#{endTime}
        where
		    `rec_id` = #{recId}
    </update>

    <select id="count" parameterType="map" resultType="int">
        select count(1)
	    from `recommend`
        where 1 = 1
            <if test="recId != null" >
                    <if test="recId.indexOf('%') >= 0" >
                        AND `rec_id` like #{recId}
                    </if>
                    <if test="recId.indexOf('%') lt 0" >
                        AND `rec_id` = #{recId}
                    </if>
            </if>
            <if test="recommendType != null" >
                    <if test="recommendType.indexOf('%') >= 0" >
                        AND `recommend_type` like #{recommendType}
                    </if>
                    <if test="recommendType.indexOf('%') lt 0" >
                        AND `recommend_type` = #{recommendType}
                    </if>
            </if>
            <if test="recommendId != null" >
                    <if test="recommendId.indexOf('%') >= 0" >
                        AND `recommend_id` like #{recommendId}
                    </if>
                    <if test="recommendId.indexOf('%') lt 0" >
                        AND `recommend_id` = #{recommendId}
                    </if>
            </if>
            <if test="createId != null" >
                    <if test="createId.indexOf('%') >= 0" >
                        AND `create_id` like #{createId}
                    </if>
                    <if test="createId.indexOf('%') lt 0" >
                        AND `create_id` = #{createId}
                    </if>
            </if>
            <if test="createTime != null" >
                    <if test="createTime.indexOf('%') >= 0" >
                        AND `create_time` like #{createTime}
                    </if>
                    <if test="createTime.indexOf('%') lt 0" >
                        AND `create_time` = #{createTime}
                    </if>
            </if>
            <if test="startTime != null" >
                    <if test="startTime.indexOf('%') >= 0" >
                        AND `start_time` like #{startTime}
                    </if>
                    <if test="startTime.indexOf('%') lt 0" >
                        AND `start_time` = #{startTime}
                    </if>
            </if>
            <if test="endTime != null" >
                    <if test="endTime.indexOf('%') >= 0" >
                        AND `end_time` like #{endTime}
                    </if>
                    <if test="endTime.indexOf('%') lt 0" >
                        AND `end_time` = #{endTime}
                    </if>
            </if>
    </select>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `recommend`
        where 1 = 1
            <if test="recId != null" >
	            <if test="recId.indexOf('%') >= 0" >
				    AND `rec_id` like #{recId}
	            </if>
                <if test="recId.indexOf('%') lt 0" >
                    AND `rec_id` = #{recId}
                </if>
            </if>
            <if test="recommendType != null" >
	            <if test="recommendType.indexOf('%') >= 0" >
				    AND `recommend_type` like #{recommendType}
	            </if>
                <if test="recommendType.indexOf('%') lt 0" >
                    AND `recommend_type` = #{recommendType}
                </if>
            </if>
            <if test="recommendId != null" >
	            <if test="recommendId.indexOf('%') >= 0" >
				    AND `recommend_id` like #{recommendId}
	            </if>
                <if test="recommendId.indexOf('%') lt 0" >
                    AND `recommend_id` = #{recommendId}
                </if>
            </if>
            <if test="createId != null" >
	            <if test="createId.indexOf('%') >= 0" >
				    AND `create_id` like #{createId}
	            </if>
                <if test="createId.indexOf('%') lt 0" >
                    AND `create_id` = #{createId}
                </if>
            </if>
            <if test="createTime != null" >
	            <if test="createTime.indexOf('%') >= 0" >
				    AND `create_time` like #{createTime}
	            </if>
                <if test="createTime.indexOf('%') lt 0" >
                    AND `create_time` = #{createTime}
                </if>
            </if>
            <if test="startTime != null" >
	            <if test="startTime.indexOf('%') >= 0" >
				    AND `start_time` like #{startTime}
	            </if>
                <if test="startTime.indexOf('%') lt 0" >
                    AND `start_time` = #{startTime}
                </if>
            </if>
            <if test="endTime != null" >
	            <if test="endTime.indexOf('%') >= 0" >
				    AND `end_time` like #{endTime}
	            </if>
                <if test="endTime.indexOf('%') lt 0" >
                    AND `end_time` = #{endTime}
                </if>
            </if>
        <if test="startIndex != null">
        	limit ${startIndex}, ${pageSize}
        </if>
    </select>

</mapper>
