<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synapse.reading.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.synapse.reading.model.Task">
        <id column="rec_id" property="recId" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="study_type" property="studyType" />
        <result column="study_id" property="studyId" />
        <result column="status" property="status" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      `rec_id`,`name`,`intro`,`study_type`,`study_id`,`status`,`create_id`,`create_time`,`update_id`,`update_time`
    </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from `task`
        where
                `rec_id` = #{recId}
    </select>

    <insert id="insert"  parameterType="com.synapse.reading.model.Task">
        insert into `task`
        (<include refid="Base_Column_List" />)
        values (#{recId},#{name},#{intro},#{studyType},#{studyId},#{status},#{createId},#{createTime},#{updateId},#{updateTime})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from `task`
        where
			    `rec_id` = #{recId}
    </delete>

    <insert id="insertSelective"  parameterType="com.synapse.reading.model.Task" >
        insert into `task`
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
                    `rec_id`,
                </if>
                <if test="name != null" >
                    `name`,
                </if>
                <if test="intro != null" >
                    `intro`,
                </if>
                <if test="studyType != null" >
                    `study_type`,
                </if>
                <if test="studyId != null" >
                    `study_id`,
                </if>
                <if test="status != null" >
                    `status`,
                </if>
                <if test="createId != null" >
                    `create_id`,
                </if>
                <if test="createTime != null" >
                    `create_time`,
                </if>
                <if test="updateId != null" >
                    `update_id`,
                </if>
                <if test="updateTime != null" >
                    `update_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="recId != null" >
			        #{recId},
                </if>
                <if test="name != null" >
			        #{name},
                </if>
                <if test="intro != null" >
			        #{intro},
                </if>
                <if test="studyType != null" >
			        #{studyType},
                </if>
                <if test="studyId != null" >
			        #{studyId},
                </if>
                <if test="status != null" >
			        #{status},
                </if>
                <if test="createId != null" >
			        #{createId},
                </if>
                <if test="createTime != null" >
			        #{createTime},
                </if>
                <if test="updateId != null" >
			        #{updateId},
                </if>
                <if test="updateTime != null" >
			        #{updateTime},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.synapse.reading.model.Task" >
        update `task`
        <set >
	            <if test="recId != null" >
		            `rec_id` = #{recId},
	            </if>
	            <if test="name != null" >
		            `name` = #{name},
	            </if>
	            <if test="intro != null" >
		            `intro` = #{intro},
	            </if>
	            <if test="studyType != null" >
		            `study_type` = #{studyType},
	            </if>
	            <if test="studyId != null" >
		            `study_id` = #{studyId},
	            </if>
	            <if test="status != null" >
		            `status` = #{status},
	            </if>
	            <if test="createId != null" >
		            `create_id` = #{createId},
	            </if>
	            <if test="createTime != null" >
		            `create_time` = #{createTime},
	            </if>
	            <if test="updateId != null" >
		            `update_id` = #{updateId},
	            </if>
	            <if test="updateTime != null" >
		            `update_time` = #{updateTime},
	            </if>
        </set>
        where
		    `rec_id` = #{recId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.synapse.reading.model.Task" >
        update  `task` SET
		    `rec_id`=#{recId},`name`=#{name},`intro`=#{intro},`study_type`=#{studyType},`study_id`=#{studyId},`status`=#{status},`create_id`=#{createId},`create_time`=#{createTime},`update_id`=#{updateId},`update_time`=#{updateTime}
        where
		    `rec_id` = #{recId}
    </update>

    <select id="count" parameterType="map" resultType="int">
        select count(1)
	    from `task`
        where 1 = 1
            <if test="recId != null" >
                    <if test="recId.indexOf('%') >= 0" >
                        AND `rec_id` like #{recId}
                    </if>
                    <if test="recId.indexOf('%') lt 0" >
                        AND `rec_id` = #{recId}
                    </if>
            </if>
            <if test="name != null" >
                    <if test="name.indexOf('%') >= 0" >
                        AND `name` like #{name}
                    </if>
                    <if test="name.indexOf('%') lt 0" >
                        AND `name` = #{name}
                    </if>
            </if>
            <if test="intro != null" >
                    <if test="intro.indexOf('%') >= 0" >
                        AND `intro` like #{intro}
                    </if>
                    <if test="intro.indexOf('%') lt 0" >
                        AND `intro` = #{intro}
                    </if>
            </if>
            <if test="studyType != null" >
                    <if test="studyType.indexOf('%') >= 0" >
                        AND `study_type` like #{studyType}
                    </if>
                    <if test="studyType.indexOf('%') lt 0" >
                        AND `study_type` = #{studyType}
                    </if>
            </if>
            <if test="studyId != null" >
                    <if test="studyId.indexOf('%') >= 0" >
                        AND `study_id` like #{studyId}
                    </if>
                    <if test="studyId.indexOf('%') lt 0" >
                        AND `study_id` = #{studyId}
                    </if>
            </if>
            <if test="status != null" >
                    <if test="status.indexOf('%') >= 0" >
                        AND `status` like #{status}
                    </if>
                    <if test="status.indexOf('%') lt 0" >
                        AND `status` = #{status}
                    </if>
            </if>
            <if test="createId != null" >
                    <if test="createId.indexOf('%') >= 0" >
                        AND `create_id` like #{createId}
                    </if>
                    <if test="createId.indexOf('%') lt 0" >
                        AND `create_id` = #{createId}
                    </if>
            </if>
            <if test="createTime != null" >
                    <if test="createTime.indexOf('%') >= 0" >
                        AND `create_time` like #{createTime}
                    </if>
                    <if test="createTime.indexOf('%') lt 0" >
                        AND `create_time` = #{createTime}
                    </if>
            </if>
            <if test="updateId != null" >
                    <if test="updateId.indexOf('%') >= 0" >
                        AND `update_id` like #{updateId}
                    </if>
                    <if test="updateId.indexOf('%') lt 0" >
                        AND `update_id` = #{updateId}
                    </if>
            </if>
            <if test="updateTime != null" >
                    <if test="updateTime.indexOf('%') >= 0" >
                        AND `update_time` like #{updateTime}
                    </if>
                    <if test="updateTime.indexOf('%') lt 0" >
                        AND `update_time` = #{updateTime}
                    </if>
            </if>
    </select>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `task`
        where 1 = 1
            <if test="recId != null" >
	            <if test="recId.indexOf('%') >= 0" >
				    AND `rec_id` like #{recId}
	            </if>
                <if test="recId.indexOf('%') lt 0" >
                    AND `rec_id` = #{recId}
                </if>
            </if>
            <if test="name != null" >
	            <if test="name.indexOf('%') >= 0" >
				    AND `name` like #{name}
	            </if>
                <if test="name.indexOf('%') lt 0" >
                    AND `name` = #{name}
                </if>
            </if>
            <if test="intro != null" >
	            <if test="intro.indexOf('%') >= 0" >
				    AND `intro` like #{intro}
	            </if>
                <if test="intro.indexOf('%') lt 0" >
                    AND `intro` = #{intro}
                </if>
            </if>
            <if test="studyType != null" >
	            <if test="studyType.indexOf('%') >= 0" >
				    AND `study_type` like #{studyType}
	            </if>
                <if test="studyType.indexOf('%') lt 0" >
                    AND `study_type` = #{studyType}
                </if>
            </if>
            <if test="studyId != null" >
	            <if test="studyId.indexOf('%') >= 0" >
				    AND `study_id` like #{studyId}
	            </if>
                <if test="studyId.indexOf('%') lt 0" >
                    AND `study_id` = #{studyId}
                </if>
            </if>
            <if test="status != null" >
	            <if test="status.indexOf('%') >= 0" >
				    AND `status` like #{status}
	            </if>
                <if test="status.indexOf('%') lt 0" >
                    AND `status` = #{status}
                </if>
            </if>
            <if test="createId != null" >
	            <if test="createId.indexOf('%') >= 0" >
				    AND `create_id` like #{createId}
	            </if>
                <if test="createId.indexOf('%') lt 0" >
                    AND `create_id` = #{createId}
                </if>
            </if>
            <if test="createTime != null" >
	            <if test="createTime.indexOf('%') >= 0" >
				    AND `create_time` like #{createTime}
	            </if>
                <if test="createTime.indexOf('%') lt 0" >
                    AND `create_time` = #{createTime}
                </if>
            </if>
            <if test="updateId != null" >
	            <if test="updateId.indexOf('%') >= 0" >
				    AND `update_id` like #{updateId}
	            </if>
                <if test="updateId.indexOf('%') lt 0" >
                    AND `update_id` = #{updateId}
                </if>
            </if>
            <if test="updateTime != null" >
	            <if test="updateTime.indexOf('%') >= 0" >
				    AND `update_time` like #{updateTime}
	            </if>
                <if test="updateTime.indexOf('%') lt 0" >
                    AND `update_time` = #{updateTime}
                </if>
            </if>
        <if test="startIndex != null">
        	limit ${startIndex}, ${pageSize}
        </if>
    </select>

</mapper>
